<html>
    <head>
        <title>EduClub.com</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/css.css') }}">
        <link rel="icon" href="static/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script type="text/javascript">
            
            window.onscroll = () => {
  const nav = document.querySelector('#navbar');
  if(this.scrollY <= 10) nav.className = ''; else nav.className = 'scroll';
}
        </script>
    </head>
    <body>
        <nav id="navbar">
            <div class="logo">
                <img src="static/logo.png">
            </div>
            <div class="bar">
            <ul>
                <li><a href="#home"><p class="mico">home</p>&nbsp;Home</a></li>
                <li><a href="#abt"><p class="mico">library_books</p>&nbsp;About</a></li>                    
                <li><a href=""><p class="mico">call</p>&nbsp;Contact</a></li>
                <li><a href=""><p class="mico">group</p>&nbsp;Team</a></li>
                <li><a href=""><p class="mico">settings</p>&nbsp;Services</a></li>
            </ul>
            <ul>
                <li><a href=""><p class="mico">account_circle</p>&nbsp;Sign In</a></li>
            </ul>
            </div>
        </nav>
        <div id="home"></div>
        <section class="sec1">

                <div id="main"></div>
                <div id="main"></div>
                <div id="main">
            <div class="caption">
                <h1>LET'S GET STARTED</h1>
                <p class=dis>For your better future......</p>
            </div>
            <form action="" method="POST">
                <h2><span class="mico">lock</span>&nbsp;sign up</h2>
                <div class="input-field">
                        <input type="text" id="uname" required />
                        <label for="uname">Username</label>
                      </div>
                      <div class="input-field">
                            <input type="email" id="mail" required >
                            <label for="mail" class="mail">Email</label>
                          </div>
                      <div class="input-field">
                            <input type="password" id="pass" required />
                            <label for="pass">Password</label>
                          </div>
                          
                <div id="ipfeild">
                    <input type="submit" value="Sign Up">
                </div>
            </form>
        </div>
        <div id="main2"><div>CopyRight&copy;2019 EDUCLUB</div></div>
        <span  id=abt></span>
        </section>
        
        <section class="cont">
            <h1>Home</h1>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This book is now in its ﬁfth edition. Each edition has corresponded to a different phase in the way computer networks were used. When the ﬁrst edition appeared in 1980, networks were an academic curiosity. When the second edition appeared in 1988, networks were used by universities and large businesses. When the third edition appeared in 1996, computer networks, especially the Internet, had become a daily reality for millions of people. By the fourth edition, in 2003, wireless networks and mobile computers had become commonplace for accessing the Web and the Internet. Now, in the ﬁfth edition, networks are about content distribution (especially videos using CDNs and peer-to-peer networks) and mobile phones are small computers on the Internet.

            
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Among the many changes in this book, the most important one is the addition of Prof. David J. Wetherall as a co-author. David brings a rich background in networking, having cut his teeth designing metropolitan-area networks more than 20 years ago. He has worked with the Internet and wireless networks ever since and is a professor at the University of Washington, where he has been teaching and doing research on computer networks and related topics for the past decade.</p>
        </section>
        <section class="sec3"></section>
        <section class="cont">
                <h1>Hjhsldflsd</h1>
                <p>This book is now in its ﬁfth edition. Each edition has corresponded to a different phase in the way computer networks were used. When the ﬁrst edition appeared in 1980, networks were an academic curiosity. When the second edition appeared in 1988, networks were used by universities and large businesses. When the third edition appeared in 1996, computer networks, especially the Internet, had become a daily reality for millions of people. By the fourth edition, in 2003, wireless networks and mobile computers had become commonplace for accessing the Web and the Internet. Now, in the ﬁfth edition, networks are about content distribution (especially videos using CDNs and peer-to-peer networks) and mobile phones are small computers on the Internet.

                    </p>
                    <p>Among the many changes in this book, the most important one is the addition of Prof. David J. Wetherall as a co-author. David brings a rich background in networking, having cut his teeth designing metropolitan-area networks more than 20 years ago. He has worked with the Internet and wireless networks ever since and is a professor at the University of Washington, where he has been teaching and doing research on computer networks and related topics for the past decade.</p>
                
            </section>
        <section class="sec4"></section>                
        
    </body>
</html>