<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <title>main</title>
    </head>
    <body>
        <div  class="container">
            <h1>Hello</h1>
            <button type="button" class="btn btn-default" name="button" class="active">Home</button>
            <button type="button" class="btn btn-primary" name="button">Home</button>
            <button type="button" class="btn btn-success" name="button">Home</button>
            <button type="button" class="btn btn-warning" name="button">Home</button>
            <button type="button" class="btn btn-danger" name="button">Home</button>
            <button type="button" class="btn btn-link" name="button">Home</button>
        </div>
    </body>
</html>